---
title: Thanks for your feedback
layout: base
root: .
sitemap: false
noindex: true
---

<main>
	<article>
		<h1>Minetest Modding Book</h1>

		<h2>Thanks for sharing your feedback!</h2>

		<p>
			You're helping to make the modding book better.
		</p>

		<p>
			<a href="{{ '/index.html' | relative_url }}">
				Back to the book
			</a>
		</p>
	</article>

	<footer>
		&copy; 2014-{{ site.time | date: '%Y' }}
	</footer>
</main>
